@import "../../variables";

$color-1: #1f3459;
$color-2: #21314e;
$color-3: #cdd0d7;
$color-4: #7a217f;

$white: #fff;
$black: #000;

.crimeTable {
  font-size: 12px;
  width: 100%;
}

td {
  padding: 5px;
  margin-bottom: 10px;
  &:hover {
    color: $color-2;
    background-color: $color-3;
    cursor: pointer;
  }
  p {
    padding: 5px;
  }
}

.scrollableDiv {
  height: 80vh;
  width: 100%;
  overflow: auto;
}
.light {
  background-color: #35435e;
}
.dark {
  background-color: #49566e;
}

.scrollableDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #d2d2d2;
}

.scrollableDiv::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.scrollableDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bcbcbc;
}
